<ion-view view-title="Principal">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Notificaciones</div>
      <div class="item item-body">
      
        <div>
          Tienes <b>5</b> nuevos amigos <b></b><br>
          <b>Alee Blanco</b> ha cambiado su foto de perfil<br>
          Tienes una llamada perdida de <b>Cesar Izaguirre</b>
          
          
        </div>
      </div>
    </div>

    
    <div class="list card">
      <div class="item item-divider">Pendientes</div>
      <div class="item item-body">
        <div>
          Tienes <b>6</b> chats nuevos<br>
          Tienes <b>3</b> solicitudes de amistad <b></b><br>
          Tienes <b>2</b> eventos para mañana 
          
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
